<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lot WestDeckPSU Dashboard</title>
  <link rel="stylesheet" href="test.css">
</head>

<body>
  <h1>WestDeckPSU Dashboard</h1>
  <section class="stats-section">
    <h2>Statistics</h2>
    <div id="user-count">
      <div class="card">
        <h2>Daily Users</h2>
        <p id="daily-users">500</p>
      </div>
      <div class="card">
        <h2>Monthly Users</h2>
        <p id="monthly-users">500</p>
      </div>
    </div>
  </section>
  <section class="camera-section">
    <h2>Camera Signals</h2>
    <div class="cameras">
    </div>
    <button type="button" id="add-camera-button">Add Camera</button>
    <button type="button" id="delete-camera-button">Delete Camera</button>
  </section>
  <section class="histogram-section">
    <h2>Monthly Users Bar Chart</h2>
    <div id="bar-chart">
    </div>
  <script src="/script.js"></script>
  </section>
</body>

</html>