body {
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
  line-height: 3;
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
}
header {
  font-size: 30px;
}
