body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 2px 20px 10px 20px;
  background-color: #F0F0F0;
}

.stats-section {
  position: fixed;
  top: 10%;
  left: 0;
  right: 40%;
  bottom: calc(45% - 12px);
  background-color: white;
  transition: 0.3s;
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
  margin: 15px 7.5px 7.5px 15px;
}

.camera-section {
  position: fixed;
  top: 10%;
  left: 60%;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: 0.3s;
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
  margin: 15px 15px 15px 7.5px;
}

.histogram-section {
  position: fixed;
  top: calc(55% - 28px);
  left: 0;
  right: 40%;
  bottom: 0;
  background-color: white;
  transition: 0.3s;
  border-radius: 10px;
  padding: 20px;
  padding-top: 10px;
  margin: 7.5px 7.5px 15px 15px;
}
.card {
  background-color: white;
  transition: 0.3s;
  border-radius: 6px;
  border: 3px solid;
  width: 350px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#daily-users {
  font-size: 60px;
  font-weight: bold;
}

#monthly-users {
  font-size: 60px;
  font-weight: bold;
}


#user-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}
.cameras {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.camera {
  background-color: white;
  padding: 1px 20px 1px 20px;
  text-align: center;
  border:3px solid;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.signal {
  font-weight: bold;
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

.license-plate {
  font-size: 16px;
  color: #777;
  margin-top: 10px;
}

button {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  display: block;
  width: 100%;
  text-align: center;
}

.user-count {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.user-count span {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.percentage-growth {
  font-size: 20px;
  font-weight: bold;
  color: #4caf50;
  margin-top: 40px;
}

.histogram-section {
  margin-top: 40px;
}

.histogram {
  height: 300px;
  width: 100%;
}
